body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}

:root {
    --grid-columns: 1;
    --grid-rows: 1;
}

#gridContainer {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    transform: scale(0.4, 0.6);
}

.grid-item {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
}