body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainContainer {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    font-size: 42px;
    opacity: 75%;
}

:root {
    --grid-columns: 1fr;
    --grid-rows: 1fr;
}

#squareSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

button {
    font-size: 16px;
    width: 120px;
    height: 64px;
    background-color: rgb(73, 70, 70);
    color: white;
    box-shadow: 1px 2px 10px rgb(68, 66, 66);
}

#gridSection{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2em;
}

#gridContainer {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    max-width: 600px;
    max-height: 600px;
    /* box-shadow: 1px 2px 10px; */
}



.grid-item:hover {
    background-color: blue;
}

.grid-item {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    grid-auto-rows: 1fr;
}