body {
    background-color: rgba(58, 115, 221, 0.6);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainContainer {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    font-size: 42px;
    opacity: 80%;
}

:root {
    --grid-columns: 1fr;
    --grid-rows: 1fr;
}

#squareSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#sliderRange {
    width: 480px;
    border-radius: 25px;
}

#gridSection{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2em;
    margin-top: 2em;
}

#gridContainer {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    width: 480px;
    height: 480px;
    box-shadow: 1px 2px 10px;
}


#sliderValueText {
    padding-left: 1em;
}

.grid-item:hover {
    background-color: blue;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    background-color: white;
    grid-auto-rows: 1fr;
}